<!-- <div class="container mt-4" style="padding-top: 7rem">
  <div class="row">
    <div class="col-md-8">
      <div class="lead">Halaman Home!!</div>
      <img src="..." class="img-fluid" alt="IMG" />
    </div>
  </div>
</div> -->
